/* Typing */
@-webkit-keyframes typing { from { width: 0; } }
   @-moz-keyframes typing { from { width: 0; } }
     @-o-keyframes typing { from { width: 0; } }
        @keyframes typing { from { width: 0; } }

/* Cursor */
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
   @-moz-keyframes blink-caret { 50% { border-color: transparent; } }
     @-o-keyframes blink-caret { 50% { border-color: transparent; } }
        @keyframes blink-caret { 50% { border-color: transparent; } }

/* Footer Icons */
@-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
   @-moz-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
     @-o-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
        @keyframes fadein { from { opacity: 0; } to { opacity: 1; } }

@font-face
{
  font-family: VT220;
  src: url('../font/Glass_TTY_VT220.ttf')
}

@font-face
{
  font-family: open-sans;
  src: url('../font/OpenSans-Light.ttf')
}

/* Nav Links */
/* Logo */
div a.logo {
  font: bold 3vw VT220, monospace;
  color: lime;
  text-align: left;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 900;
  -webkit-animation: fadein 10s;
     -moz-animation: fadein 10s;
       -o-animation: fadein 10s;
          animation: fadein 10s;
}

div.site-nav {
  width: 100%;
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 40px;
  background: #333;
}
.lt-nav {
  float: left;
  margin: 0;
  width: 15%;
}
.rt-nav {
  float: left;
  margin: 0;
  width: 85%;
  text-align: right;
}

.links {
  font: bold 3vw VT220, monospace;
  color: lime;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  text-decoration: none;
  opacity: 0.75;
  -webkit-animation: fadein 10s;
     -moz-animation: fadein 10s;
       -o-animation: fadein 10s;
          animation: fadein 10s;
}
.links:hover {
  opacity: 1;
}

/* Main */
/* Index */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -155px;
}

h1 {
  font: bold 3vw VT220, monospace;
  color: lime;
  border-right: .1em solid;
  width: 16.5em; /* fallback */
  width: 53ch;   /* # chars */
  margin: 4em 1em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 5s steps(50, end), blink-caret .5s step-end infinite alternate;
     -moz-animation: typing 5s steps(50, end), blink-caret .5s step-end infinite alternate;
       -o-animation: typing 5s steps(50, end), blink-caret .5s step-end infinite alternate;
          animation: typing 5s steps(50, end), blink-caret .5s step-end infinite alternate;
}

/* History */
code.history {
  font: bold 1.4vw VT220, monospace;
  color: lime;
  border-right: .1em solid;
  margin-left: 1em;
  white-space: pre-wrap;
}

#resume {
  font: bold 1.5vw VT220, monospace;
  color: #AAA;
  opacity: 0.5;
  text-align: right;
  text-decoration: none;
}
#resume:hover {
  opacity: 1;
}

#content-box {
  margin: 0 auto;
  width: 100%;
}
.lt-column {
  float: left;
  margin: 0;
  width: 60%;
}
.rt-column {
  float: left;
  margin: 0;
  width: 40%
}

/* Portfolio */
.port-box {
  position: relative;
  margin: 40px auto;
}
.pic-column {
  float: left;
  margin: 0;
  width: 50%;

}
.info-column {
  float: left;
  margin: 0;
  width: 50%
}
p {
  color: #DDD;
  font-family: open-sans;
}

#graff-img {
  max-width:500px;
  max-height:300px;
}
#copo-img {
  max-width:500px;
  max-height:300px;
}

/* FOOTER specs */
/* Fade Icons in */
#footer {
  bottom:0px;
  height:30;
  right:0%;
  left:0%;
  position:fixed!important;
  position:absolute;
  width=100%;
  top:expression((0-(footer.offsetHeight)+
  (document.documentElement.clientHeight?
  document.documentElement.clientHeight:
  document.body.clientHeight)+(ignoreMe=document.documentElement.scrollTop?
  document.documentElement.scrollTop:document.body.scrollTop))+'px');
  text-align:center;
  visibility:visible;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #333;
}

a.footer-img {
  -webkit-animation: fadein 10s;
     -moz-animation: fadein 10s;
       -o-animation: fadein 10s;
          animation: fadein 10s;
}

/* Icon specs */
img.foot-icons {
  transition: background-color 0.5s ease;
  background-color: #666;
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius:100%;
}
img.foot-icons:hover {
  background-color: #BBB;
}




